<div class="color-fondo">
<div class="small-container center-block">
<div  style="padding:10%">
<br>
<br>
<br>
<br>
<br>
<br>
  <h1>Editar Categoría</h1>

  <%= render 'form', category: @category %>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>
</div>
</div>